<% content_for :left_col_container do %>
	<div class="float-container">
		<ul class="menu">
			<h1><%= t('.menu_title') %></h1>
			<li>
				<%= link_to "Horizontal Slider",preview_user_portfolios_path(layout:'horizontal_slide'),
										remote:true %>
				<span class="badges success"><%= t(".free") %></span>
			</li>
			<li>
				<%= link_to "Verfical Slider", preview_user_portfolios_path(layout:'vertical_slide'),
										remote:true %>
				<span class="badges success"><%= t(".free") %></span>
			</li>
			<li>
				<%= link_to "Galeria Simples", preview_user_portfolios_path(layout:'simple_gallery'),
										remote:true %>
				<span class="badges success"><%= t(".free") %></span>
			</li>			
		</ul>
	</div>
<% end %>