<div class="award-bg"></div>
<div class="textbox">
	<h1>1 - Características Gerais</h1>
	<p>
		1.1 - Trata-se de um sorteio de lançamento do Pic2Gether.com. Uma forma carinhosa de dar boas vindas aos nossos usuários.
	</p>
	<p>
		1.2 - As participações nos sorteios publicados neste site são totalmente gratuitas, não sendo cobrado nenhum valor ou taxa para inscrições.
	</p>
</div>
<div class="textbox">
	<h1>2 - Participantes</h1>
	<p>
		2.1 - Para participar do sorteio, basta se tornar um usuário
		<%= link_to "Pic2Gether", home_welcome_index_path %> 
		se cadastrando no nosso site, e realizar postagens conforme descrito no item <strong>3 - Regras</strong>.
	</p>
	<p>
		2.2 - Poderão participar do sorteio pessoas físicas, maiores de 16 anos (De acordo com a política de assinantes do Eduk).
	</p>
</div>
<div class="textbox">
	<h1>3 - Regras</h1>
	<p>
		3.1 - O usuário deverá postar pelo menos uma fotografia durante o período estipulado. 
	</p>
	<p>
		3.2 - Para que a fotografia participe da promoção, a mesma não poderá ser removida do site. 
	</p>
	<p>
		3.3 - O objeto do sorteio será a fotografia postada, isto quer dizer que quanto mais fotos você postar, 
		maior é sua chance de ganhar.
	</p>
	<p>
		3.4 - As fotografias postadas deverão ser de sua autoria, não ferindo as políticas de direitos autorais descritas em nosso
		<%= link_to "Termo e condições de uso.", termsconditions_home_welcome_index_path,target:'_blank' %>
	</p>
	<p>
		3.5 - Não serão permitidos postagens de conteúdo pornográfico, conforme defino no
		<%= link_to "Termo e condições de uso.", termsconditions_home_welcome_index_path,target:'_blank' %>.
		Caso isto o ocorra, o Pic2Gether terá todo direito de remover e notificar o autor.
	</p>		
</div>
<div class="textbox">
	<h1>4 - Prêmio</h1>
	<p>
		4.1 - O prêmio que será sorteado nesta promoção, trata-se de 1(uma) assinatura anual do 
		<a href="https://assinatura.eduk.com.br/#membership-plan" target='_blank'>Plano Básico</a> da Eduk,
		que inclui acesso a todos os cursos da categoria 
		<a href="http://www.eduk.com.br/categorias/7-design-e-fotografia" target='_blank'>Design e Fotografia</a>.
	</p>
	<p>
		Com esta assinatura você terá acesso a mais de 90 cursos com vários assuntos relacionados a esta arte de fotografar. 
	</p>
</div>
<div class="textbox">
	<h1>5 - Período</h1>
	<p>
		5.1 - Período da promoção: 04/04/2016 à 24/04/2016.
	</p>
</div>
<div class="textbox">
	<h1>6 - Sorteio</h1>
	<p>
		6.1 - O sorteio será realizado no dia 25/04/2016.
	</p>
	<p>
		6.2 - O critério para definir o ganhador do prêmio, será através da fotografia postada. 
		Ou seja, o autor da fotografia sorteada, é quem levará o prêmio.
	</p>
	<p>
		6.3 - Como este é um sorteio de Lançamento e não um concurso, a fotografia sorteada não necessariamente deverá se
		enquadrar nos padrões técnicos e de estética do que se pode considerar uma boa imagem. Será puramente sorte!
	</p>		
	<p>
		6.3 - Será divulgado através de redes sociais o ganhador do prêmio.
	</p>
</div>

<div class="textbox">
	<h1>7 - Ganhador</h1>
	<p>
		7.1 - O ganhador será contactado através de notificações dentro do Pic2Gether e através de email de cadastro, para receber informações sobre como resgatar o prêmio.
		O ganhador terá um prazo de 7 dias, a contar pela data de envio das notificações, para se manifestar e resgatar
		o prêmio.
	</p>
	<p>
		7.2 - Caso não consigamos contato com o Ganhador, dentro do prazo estipulado, um novo sorteio será realizado.
	</p>
</div>

<div class="textbox">
	<h1>8 - Considerações Finais</h1>
	<p>
		8.1 - O Pic2Gether está sorteando a assinatura para o período de <u>1(UM) ANO</u>. Após este prazo,
		 		não nos responsabilizamos por possíveis renovações, ou bloqueio do conteúdo no caso da não
		 		renovação. Verifique os termos e condições de uso do Eduk.com.br
	</p>
	<p>
		8.2 - Após a entrega do prêmio, o ganhador será o responsável pela assinatura, tendo assim que respeitar as políticas e Termos da Eduk.
	</p>		
</div>	


<br>
<%= link_to "Quero me cadastrar e Participar do Sorteio",new_user_registration_path,
						class:'btn btn-success btn-bigger' %>
<%= link_to "Já sou cadastrado! Quero fazer login e Participar do Sorteio",new_user_session_path ,
						class:'btn btn-success btn-bigger' %>

<br><br>
<br>
<br>