<% title t(".title",workshop_description:@workshop.description) %>
<%= content_for :toolbar_buttons do %>
  <%= link_to t('user.workshops.my_all_workshops'),
              user_workshops_path, 
              class:"btn btn-success btn-small btn-right" %>
<% end %>

<div class="show-workshop-student">

  <div class="ws-left-col">
    <%= content_tag(:div, class:"panel flat",style:'width: 100%') do %>
      <div class="panel-content">
        <div class="ws-image" style="background-image: url(<%= @workshop.image.url(:medium)%>)"></div>
        <p class="workshop-description"><%= @workshop.description %></p>
      </div>
    <% end %>
    
    <%= content_tag(:div, class:"panel flat",style:'width: 100%;') do %>
      <div class="panel-content">
        <h4><%= t('.activities_legend') %></h4>
        <%= render "user/workshops/show_student/activities" %>
      </div>
    <% end %>
  </div>

  <div class="ws-right-col">
    <%= content_tag(:div, class:"panel flat",style:'width: 100%;') do %>
      <div class="panel-content">
        <h4><%= t('.materials_legend') %></h4>
        <%= render "user/workshops/show_student/materials" %>
      </div>
    <% end %> 

    <%= content_tag(:div, class:"panel flat",style:'width: 100%;') do %>
      <div class="panel-content">
        <h4><%= t('.students_legend') %></h4>
          <ul class="workshop-students">
            <% @workshop.workshop_students.confirmed.each do |student| %>
              <%= render partial:'/user/workshop_students/student',
                    locals: {student:student, workshop_owner:false} %>
            <% end %>
          </ul>
      </div>
    <% end %> 
    
    <%= content_tag(:div, class:"panel flat",style:'width: 100%;') do %>
      <div class="panel-content">
        <h4><%= t('.author_legend') %></h4>
        <div class="author-container">
          <%= link_to user_photographer_path(@workshop.user.id), class:"photographer-profile user-name" do %>
            <%= image_tag(@workshop.user.profile.avatar.url(:medium),class:'avatar')%>
          <% end %>
          <p><%= @workshop.user.profile.description %></p>        
        </div>
      </div>
    <% end %>
  </div>
</div>
