<%= content_for :toolbar_buttons do %>
  <%= link_to t('buttons.cancel'),user_workshops_path, 
              class:"btn btn-important btn-small btn-right" %>
<% end %>  
<%= semantic_form_for [:user,@workshop] do |f| %>
  <%= content_tag(:div, class:"panel",style:'width: 45%;') do %>
    <%= content_tag :h5, t('user.workshops.main_info'),class:'title' %>
    <div class="panel-content">
      <%= image_tag @workshop.image.url(:thumb),class:'user-avatar',id:'image-upload'%>
      <div class="workshop-image">
        <h1><%= ta Workshop,:image %></h1>
        <h2><%= t(".image_max_size") %></h2>
        <p><%= t("labels.image_types") %></p>
        <%= f.input :image, 
                  label:false,
                  input_html: {:onchange => "showImageWorkshopPreview(this)"} %>
      </div>
      <%= f.input :description,
                  :input_html => {autofocus:true, id:'workshop-description'} %>
      <%= f.input :details,input_html: {style:'height: 325px'} %>
      <%= f.input :target_audience, placeholder:t('.target_audience_hint') %>
      <div class="grid2column">
        <%= f.input :vacancies_number %>
        <%= f.input :workload,:as => :string,placeholder:t('.workload_hint')  %>
      </div>

      <div class="grid2column">
        <%= f.input :start_date,:as => :string,
                    :input_html => { :value => format_date(@workshop.start_date) }   %>
        <%= f.input :end_date,:as => :string,
                    :input_html => { :value => format_date(@workshop.end_date) }  %>
      </div>
      <%= f.input :local %>
      <%= f.input :value, :as => :string, 
                  :input_html => { :value => number_with_precision(@workshop.value, :precision => 2) } %>
      <%= f.input :allow_pre_enrolls, 
                  :hint => t('.allow_pre_enrolls_hint'),
                  :input_html => {:id => "allow-pre-enrolls-input" } %>
      <%= f.input :allow_queued, 
                  :hint => t('.allow_queued_hint'),
                  :input_html => {:id => "allow-queued-input",:disabled => !@workshop.allow_pre_enrolls? }  %>
    </div>
  <% end %>    
  <%= content_tag(:div, class:"panel",style:'width: 45%;') do %>
    <%= content_tag :h5, t('user.workshops.more_info'),class:'title' %>
    <div class="panel-content">
      <%= f.input :complement, input_html: {style:'height: 150px',class:"mceEditor"} %>
    </div>
  <% end %>
  <%= content_tag(:div, class:"panel",style:'width: 45%;') do %>
    <%= content_tag :h5, t('user.workshops.email_info'),class:'title' %>
    <div class="panel-content">
      <%= f.input :email_subscribe, input_html: {style:'height: 150px',class:"mceEditor"} %>
    </div>
  <% end %>     
  <%= content_tag(:div, class:"panel",style:'width: 45%;') do %>
    <%= content_tag :h5, t('user.workshops.email_matriculate'),class:'title' %>
    <div class="panel-content">
      <%= f.input :email_matriculate, input_html: {style:'height: 150px',class:"mceEditor"} %>
    </div>
  <% end %>       
  <div class="actions">
    <%= submit_button f %>
    <%= link_to t('buttons.cancel'),user_workshops_path, 
              class:"btn btn-important" %>
  </div>
<% end %>
