<%= content_tag(:div, class:"panel flat", style:'width: 80%;float:left') do %>
	<%= content_tag :p, class:"alert alert-info delayed_feedback",id:'delayed-msg-feedback' do %>
		<%= t(".delayed_feedback").html_safe %>
	<% end unless @order.paid?%>
	<div class="panel-content">
		<%= content_tag :div, id:'order-transaction-feedback' do %>
			<%= hidden_field_tag "", @order.id,id:"order-in-process-id" %>
			<div class="order-overlay-mask"></div>
			<div class="feedback">
				<div class="loading-round-gif"></div>
				<p class="message"><%= t('.wait_payment_message') %></p>
				<%= link_to t(".wait_button_label"), 
									user_root_path, class:"btn btn-success" %>
			</div>
		<% end if @callback_provider.present? && !@order.paid? %>
		<h4><%= @order.description %></h4>
	  <%= render 'order_details' %>
	  <%= render 'order_payment_details' %>
	  <%= render 'order_products' %>
	  <%= render 'order_plan_details' %>
	  <%= render 'order_status_histories' %>
	</div>
<% end %>
