<div class="float-container">
  <ul class="social-network" id="social-network-share">
  	<h1><%= t(".share") %></h1>
  	<li>
	    <%= link_to t('.facebook_share'),"#", 
            onclick:"FacebookShare(undefined,'Inspire-se e torne-se cada vez melhor.','share_pic2gether');" %>
    </li>
  	<li>
	    <%= link_to t('.twitter_share'),
        'http://twitter.com/home?status=Confira Pic2Gether, feito p/ quem gosta de fotografia! Ganhe prêmios, exposição e muitas inspirações. pic2Gether.com' , target:'_blank',
          onclick:"TwitterShare('share_pic2gether');" %>
    </li>
  	<li>
	    <%= link_to t('.facebook_invite_friends'),"#", onclick:"FacebookInviteFriends();" %>
    </li>    
    <br>
   	<p class="share-message" >
  		<%= t('.share_message') %><br><br>
  		<% t('.invite_message') %>
  	</p>
  </ul>

</div>