<% @photos.each do |photo| %>
	<li>
		<div class="photo-author-container">
			<%= image_tag(photo.user.profile.avatar(:thumb),class:'user-avatar') %>
			<span class="photo-by">Photo by</span>
			<span class="user-name"><%= photo.author %></span>
		</div>
		<span class="timestamp"><%= time_ago_in_words(photo.created_at) %> </span>
		<div class="item" >
			<%= content_tag(:div,class:"img-pic #{photo.orientation}", 
						style:"background-image: url('#{photo.picture.url(:medium)}')")	do %>
				<%= link_to "", user_photo_explore_show_path(photo), class:'photo-picture' %>
			<% end %>
			<div class="photo-info">
				<h1><%= photo.title%></h1>
				<p><%= photo.description %> </p>
				<div class="photo-menu-popup">
					<ul id="photo-menu-<%= photo.id %>">
						<li>
							<%= link_to t('labels.share_on_facebook'), "#", class:'photo-share-menu-link',
												onclick:"FacebookShare('#{public_photo_url(photo)}');" %>
						</li>
						<li>
							<%= twitter_link_to_share(t('labels.share_on_twitter'),
											t('share_messages.share_photo', url:public_photo_url(photo))) %>
						</li>
						<li id="photo-like-links-<%= photo.id %>">
							<%= render partial:'user/shared/photo_view/like_links', locals:{photo:photo,show_label:true}  %>
						</li>
					</ul>
					<span class="photo-menu-popup-arrow" photo-id="photo-menu-<%= photo.id %>"></span>
				</div>
			</div>
			<%= render partial:'photo_comments', locals: {photo:photo} %>
		</div>
	</li>
<% end %>


