<% @photos.each do |photo| %>
	<%= link_to new_user_photo_path, id:'photo-upload-link-header' do %>
		<li>
			<div class="upload-picture-container">
				<%= image_tag("upload.png")%>
				<div class="upload-text"><%= t('upload.title_upload')%></div>
			</div>
		</li>
	<% end %>
	<li>
		<div class="photo-author-container">
			<%= image_tag(photo.user.profile.avatar(:thumb),class:'user-avatar') %>
			<span class="photo-by">Photo by</span>
			<span class="user-name">
				<%= link_to photo.author, user_photographer_path(photo.user_id), 
                  	class:'photographer-name photographer-profile' %>
			</span>
		</div>
		<span class="timestamp"><%= time_ago_in_words(photo.created_at) %> </span>
		<div class="item" >
			<%= content_tag(:div,class:"img-pic #{photo.orientation}", 
						style:"background-image: url('#{photo.picture.url(:medium)}')",
						owner:photo.user.profile.user_name )	do %>
				<%= link_to "", user_photo_explore_show_path(photo), class:'photo-picture'%>
			<% end %>
			<div class="photo-info">
				<h1><%= photo.title%></h1>
				<p><%= photo.description %> </p>
				<div class="photo-couters">
					<label class="views">
						<span class="icon16pb views"></span>
						<%= content_tag :span,photo.views_count, class:'count-item' %>
					</label>
					<label class="likes">
						<span class="icon16pb like"></span>
						<%= content_tag :span,photo.likes.count, id:"timeline-likes-count-#{photo.id}", class:'count-item' %>
					</label>
				</div>
				<%= render partial:'user/shared/photo/menu_popup', locals:{photo:photo} %>
			</div>
			<%= render partial:'photo_comments', locals: {photo:photo} %>
		</div>
	</li>
<% end %>