<div class="float-container">
  <div class="user-content">
    <div id="user-home-cover-pic" class="cover-pic" 
         style="background-image: url('<%= current_user.profile.cover_url %>')",
         owner="<%= current_user.profile.user_name %>">
      <%= link_to user_edit_cover_photo_path(0), class:"btn", id:'edit-cover' do %>
        <span class="icon16pb edit"></span>
      <% end %>
    </div>
    <div class="user-infos">
      <%= image_tag(current_user.profile.avatar.url(:medium),class:'avatar') %>
      <%= content_tag :label,class:'user-name' do %>
        <%= link_to current_user.profile.short_name, user_photographer_path(current_user) %>
        <p><%= current_user.profile.category.description %></p>
      <% end %>
      <!-- <span class="user-ranking"><%= "97%" %></span> -->
      <ul class="user-resume">
        <li>
          <%= content_tag :label, t('user.user_resume.photos') %>
          <%= content_tag :span do %>
            <%= link_to current_user.photos_count, user_photos_path %>
          <% end %>
        </li>
        <li>
          <%= content_tag :label, t('user.user_resume.following') %>
          <%= content_tag :span do %> 
            <%= link_to current_user.following_count,
                        user_photographer_following_path(current_user),
                        id:"current-user-following-count" %>
          <% end %>
        </li>
        <li>
          <%= content_tag :label, t('user.user_resume.followers') %>
          <%= content_tag :span do %> 
            <%= link_to current_user.followers_count, 
                        user_photographer_followers_path(current_user) %>
          <% end %>
        </li>                       
      </ul>
    </div>
    <div class="level-progress">
      <h1 class="experience-label">Experiência \ Nível</h1>
      <div class="cicle-progress c100 small p<%= current_user.level.progress_perc.to_i %> center">
        <span><%= current_user.level.progress_label %></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
      <h2 class="level-number">
        <%= current_user.level.number %>
        <span><%= current_user.level.description %></span>
      </h2>
      
    </div>
  </div>
</div>