<div class="float-container">
  <div class="user-content">
    <div class="cover-pic" style="background-image: url('<%= current_user.profile.cover_url %>')"></div>
    <div class="user-infos">
      <%= image_tag(current_user.profile.avatar.url(:medium),class:'avatar') %>
      <%= content_tag :label,class:'user-name' do %>
        <span><%= current_user.profile.short_name %></span>
        <p><%= current_user.profile.category.description %></p>
      <% end %>
      <!-- <span class="user-ranking"><%= "97%" %></span> -->
      <ul class="user-resume">
        <li>
          <%= content_tag :label, t('user.user_resume.photos') %>
          <%= content_tag :span do %>
            <%= link_to current_user.photos_count, user_photos_path %>
          <% end %>
        </li>
        <li>
          <%= content_tag :label, t('user.user_resume.following') %>
          <%= content_tag :span do %> 
            <%= link_to current_user.following_count,
                        following_user_photographers_path,
                        id:"current-user-following-count" %>
          <% end %>
        </li>
        <li>
          <%= content_tag :label, t('user.user_resume.followers') %>
          <%= content_tag :span do %> 
            <%= link_to current_user.followers_count,followers_user_photographers_path %>
          <% end %>
        </li>                       
      </ul>
    </div>
    <div class="level-progress">
      <div class="progress-bar">
        <span class="points">1600 pontos - Amador</span>
        <div class="progress">
          
        </div>
      </div>
    </div>
  </div>
</div>