<%= facebook_script %>
<%= facebook_invite_friends %>
<%= facebook_share %>
<%= twitter_share %>

<% if @current_user.first_login? %>
  <%= hidden_field_tag :first_login, @current_user.first_login?, 
                       id:'first-login-tag', 
                       href:user_first_login_steps_path   %>
<% end %>

<%= render partial:'/user/shared/photo/header_search_field', 
            locals: {remote:false} %>
<%= render '/user/shared/main_menu' %>

<%= content_for :left_col_container do %>
  <%= render 'user_info' %>
  <div id="photographers-to-follow">
    <%= render 'suggestion_to_follow' %>
  </div>
  <%= render 'social_network_share' %>
<% end %>

<ul class="timeline" id="home-timeline">
  <%= render 'timeline' %>
</ul>

<div id="infinite-scrolling">
  <%= will_paginate @photos %>
</div>
