<%= semantic_form_for [:user,@workshop,@workshop_activity], remote:true do |f| %>
  <%= f.inputs do %>
    <%= f.input :description,
    						:input_html => {id:'workshop-activity-description'} %>
    <%= f.input :details,
  							:input_html => {rows:10} %>
    <%= f.input :limit_date,
    						:as => :string %>
  <% end %>
  <br>
  <br>
  <div class="actions" style="margin-left:-10px">
    <%= submit_button f %>
  </div>
<% end %>
