
<%= content_tag :li, id:"student-#{@workshop.id}#{student.user_id}" do %>
  <%= image_tag student.user.profile.avatar.url(:thumb),class:'user-avatar' %>
  <%= link_to student.user.profile.user_name,
              user_photographer_path(student.user_id),
              class:"photographer-profile user-name" %>

  <% if workshop_owner %>
  	<%= link_to student.in_queue? ? t('.confirm_matriculation_in_queue') : t('.confirm_matriculation'),
  							user_workshop_confirm_matriculation_path(@workshop,student.user_id),
  							method: :put,
  							data: {confirm:t('.confirm_matriculation_question')},
  							remote:true, id:"confirm-matriculation-btn-#{student.user_id}",
  							class:"btn btn-tiny" unless student.confirmed? %>
    
    <div class="buttons-container buttons-container-students">
    	<%= link_to t('.remove_user'),
    							user_workshop_remove_student_path(@workshop,student.user_id),
    							method: :delete,
    							data: {confirm:t('messages.confirm_destroy')},
    							remote:true %>
    </div>
  <% end %> 
<% end %>