<% title t('.workshop') %>
<%= content_for :toolbar_buttons do %>
  <%= link_to t('.preview_workshop'), 
              user_workshop_marketing_path(@workshop),
              class:'btn btn-primary btn-small btn-right' %>

  <%= link_to t('.edit_workshop'),
              edit_user_workshop_path(@workshop), 
              class:"btn btn-success btn-small btn-right" %>

  <%= link_to t('.open_workshop'),
              user_workshop_open_path(@workshop), 
              data: {confirm:t('.confirm_open_workshop_msg')},
              class:"btn btn-success btn-small btn-right" unless @workshop.opened? %>


<% end %>
<%= content_tag(:div, t('.msg_not_opened').html_safe,class:'alert') unless @workshop.opened? %>
<%= content_tag(:div, class:"panel flat",style:'width: 50%;') do %>
  <div class="panel-content">
    <h4><%= t('user.workshops.main_info') %></h4>
    <div class="show-fields">
      <%= sf @workshop,:description %>
      <%= sf @workshop,:details %>
      <%= sf @workshop,:start_date,format_date(@workshop.start_date) %>
      <%= sf @workshop,:end_date,format_date(@workshop.end_date) %>
      <%= sf @workshop,:workload, @workshop.workload %>
      <%= sf @workshop,:vacancies_number %>
      <%= sf @workshop,:value,number_to_currency(@workshop.value) %>
      <%= sf @workshop,:target_audience %>
    </div>
    <h4><%= t('user.workshops.more_info') %></h4>
    <div>
      <%= @workshop.complement.html_safe unless @workshop.complement.nil? %>
    </div>
  </div>
<% end %>

<%= content_tag(:div, class:"panel flat",style:'width: 42%;') do %>
  <div class="panel-content">
    <%= render "user/workshops/show_owner/show_participants" %>
    <%= render "user/workshops/show_owner/show_materials" %>
    <%= render "user/workshops/show_owner/show_activities" %>
  </div>
<% end %>  