<%# title t('.workshop') %>
<%= content_for :menu_itens do %>
  <li>
    <%= link_to user_workshops_path do %>
      <%= t('buttons.back') %>
      <span class="icon20 back"></span>
    <% end %>
  </li>
<% end %>
<%= content_for :toolbar_buttons do %>
  <%= link_to t('.preview_workshop'), 
              user_workshop_marketing_path(@workshop),
              class:'btn btn-primary btn-small btn-right' %>

  <%= link_to t('buttons.edit'),
              edit_user_workshop_path(@workshop), 
              class:"btn btn-success btn-small btn-right" %>

  <%= link_to t('.publish_workshop'),
              user_workshop_publish_path(@workshop), 
              data: {confirm:t('.confirm_publish_workshop_msg')},
              class:"btn btn-success btn-small btn-right" unless @workshop.published? %>


<% end %>
<div class="workshop-show-container">
  <%= content_tag(:div, t('.msg_not_published').html_safe,class:'alert') unless @workshop.published? %>
  <%= content_tag(:div, class:"panel flat",style:'width: 50%;') do %>
    <div class="panel-content">
      <h4><%= t('user.workshops.main_info') %></h4>
      <div class="show-fields">
        <%= sf @workshop,:description %>
        <%= sf @workshop,:details %>
        <%= sf @workshop,:target_audience %>
        <%= sf @workshop,:vacancies_number %>
        <%= sf @workshop,:workload, @workshop.workload %>
        <%= sf @workshop,:start_date,format_date(@workshop.start_date) %>
        <%= sf @workshop,:end_date,format_date(@workshop.end_date) %>
        <%= sf @workshop,:local %>
        <%= sf @workshop,:value,number_to_currency(@workshop.value) %>
        <%= sf @workshop,:allow_pre_enrolls,yes_no(@workshop.allow_pre_enrolls),false,true %>
        <%= sf @workshop,:allow_queued,yes_no(@workshop.allow_queued),false,true %>
      </div>
      <h4><%= t('user.workshops.more_info') %></h4>
      <div>
        <%= @workshop.complement.html_safe unless @workshop.complement.nil? %>
      </div>
    </div>
  <% end %>

  <%= content_tag(:div, class:"panel flat",style:'width: 42%;') do %>
    <div class="panel-content">
      <%= render "user/workshops/show_owner/show_students" if @workshop.plan.add_students? %>
      <%= render "user/workshops/show_owner/show_materials"    if @workshop.plan.add_materials? %>
      <%= render "user/workshops/show_owner/show_activities"   if @workshop.plan.add_activities?%>
    </div>
  <% end %>  
</div>