<div class="portfolio portfolio-simple-gallery <%= @theme %>"  id="portfolio-template">
	<div class="header">
		<%= image_tag(@photographer.profile.avatar.url(:medium), class:'avatar') %>
		<div class="text-box">
			<h1><%= @photographer.profile.full_name %></h1>
			<p><%= @photographer.profile.category.description %></p>
		</div>
		<%= render '/shared/portfolio_templates/menu' %>
	</div>

	<div class="container" id="template-container">
		<%= render partial:"/shared/portfolio_templates/template_#{@portfolio_template.id}/photo_gallery",
							 locals:{photo:@photographer.photos.first} %>
	</div>
</div>
