<div class="photo-comments">
	<div class="form-container">
		<%= content_tag :h1, t('.comments') %>
		<%= image_tag(current_user.profile.avatar(:medium),class:'avatar') %>
		<div id="comment-form"><%= render '/user/photo_comments/form' %></div>
	</div>
	<ul id="photo-list-comments">
		<%= content_tag :h1, t('.last_comments') %><br>
		<%= render @photo.comments.order("created_at desc") %>
	</ul>
</div>
