<%= content_tag :div, style:'float:left' do %>
  <div class="photo-container" id="photo-container" style:'position:fixed'>
    <%= link_to "", "#",class:"close-button",id:"photo-view-modal-close-button" %>
    <%= link_to "", user_photo_path(@photo,act:'previous'), remote:true,class:"previous-arrow previous-link" %> 
    <%= link_to "", user_photo_path(@photo,act:'next'), remote:true,class:"next-arrow next-link" %> 
    <%= render 'user/shared/photo_view/toolbar.html.erb' %> 
    <div class="photo-picture <%= @photo.orientation %>", id="photo-picture",
          owner="<%=@photo.user.profile.user_name %>",
          style="background-image:url(<%= @photo.picture.url(:huge) %>)" >
    </div>
    <%= link_to "", "#" , class:"down-page", id:'down-page-photo-view' %> 
  </div>
  
  <div class="photo-show-extra-content">
    <%= render "user/shared/photo_view/show_photo_comments" %>
    <%= render "user/shared/photo_view/show_photo_likers" %>
  </div>
  
  <div class="photo-info" id="photo-info">
    <div class="content-info">
      <%= link_to user_photographer_path(@photo.user_id) do %>
        <%= image_tag(@photo.user.profile.avatar.url(:medium),class:'avatar') %>
      <% end %>
      <%= link_to @photo.user.profile.user_name, 
                  user_photographer_path(@photo.user_id),class:'user-name' %>
      <%= content_tag :span, 
            t(".posting",category:@photo.category.description,
            created_at:format_date(@photo.created_at,)),
            class:'posting-label' %>
    </div>
    <%= render 'user/shared/photo_view/photo_info' %> 
  </div>

<% end %>


  