<li>
	<%= image_tag(photo_comment.user.profile.avatar(:medium),class:'avatar') %>	
	<div class="comments-content">
		<%= content_tag :h2, class:'user_name' do %>
			<%= photo_comment.user.profile.user_name %>
			<%= content_tag :span, distance_of_time_in_words(photo_comment.created_at, Time.now) %>
		<% end %>
		<%= content_tag :p, photo_comment.content,class:'content' %>
	</div>
	
</li>