<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo_comment.user %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @photo_comment.photo %>
</p>

<p>
  <strong>Content:</strong>
  <%= @photo_comment.content %>
</p>

<%= link_to 'Edit', edit_photo_comment_path(@photo_comment) %> |
<%= link_to 'Back', photo_comments_path %>
