<%= content_tag :ul, class:"users-photographers" do %>
	<% @users.each do |user| %>
		<li>
			<div class="cover-pic" style="background-image: url('<%= user.profile.cover_url %>')">
				<div id="follow-links-<%= user.id %>">
					<%= render partial:"follow_links", locals: {user:user} %>
				</div>
			</div>
			<div class="user-infos">
      	<%= image_tag(user.profile.avatar.url(:medium),class:'avatar') %>
	      <%= content_tag :label,class:'user-name' do %>
	        <span><%= user.profile.user_name %></span>
	        <p><%= user.profile.category.description %></p>
	      <% end %>
	      <ul class="user-resume">
	      	<%= image_tag("user/flags/1.png",class:'country-flag') %>
	        <li>
	          <%= content_tag :label, t('user.user_resume.photos') %>
	          <%= content_tag :span, user.photos_count %>
	        </li>
	        <li>
	          <%= content_tag :label, t('user.user_resume.following') %>
	          <%= content_tag :span, user.following_count %> 
	        </li>
	        <li>
	          <%= content_tag :label, t('user.user_resume.followers') %>
	          <%= content_tag :span, user.followers_count %> 
	        </li>                       
	      </ul>
	    </div>			
		</li>
	<% end %>
<% end %>
