<%= content_tag :ul, class:"photographers" do %>
	<% @users.each do |user| %>
		<li>
			<div id="follow-links-<%= user.id %>">
				<%= render partial:"follow_links", locals: {user:user} %>
			</div>
			<%= image_tag(user.profile.avatar.url(:medium)) %>
			<div class="info">
				<%= link_to(user_photographer_path(user.id),class:"photographer-profile") do %>
					<%= image_tag("user/flags/1.png",class:'country') %>
					<%= user.profile.user_name %>
				<% end%>
				<p>
					10 Photos |
					300 Seguidores
				</p>
			</div>
		</li>
	<% end %>
<% end %>
