<%= render '/user/shared/main_menu' %>
<%= content_for :toolbar_buttons do %>
  <%= form_tag user_photographers_path, method: :get, remote:true,class:'search-form' do |f| %>
  	<%= text_field_tag "search","",placeholder: t('.search_placeholder') %>
  <% end %>
<% end %>
<% content_for :categories do %>
	<ul class="categories-list">
		<li>
			<%= link_to t('.all_categories'),
									user_photographers_path, 
									remote:true, class:'category-item selected'  %>
		</li>
		<%- @categories.each do |category| %>		
			<li>
				<%= link_to category.description,
										user_photographers_path(category_id:category.id),
										remote:true, class:'category-item'  %>
			</li>
		<% end %>
	</ul>
<% end %>
<div id="photographers-container">
	<%= render "photographers" %>
</div>

