<h1 class="title">Veja como é simples</h1>
<h4 class="sub-title"><%= t('.sub_title') %></h4>
<ul class="how-work-steps">
	<li>
		<div class="vertical-line"></div>
		<div class="step" id="step1">
			<h4><%= t(".steps.sign_up.title") %></h4>
			<p class="step-tip"><%= t(".steps.sign_up.text") %></p>
		</div>
	</li>
	<li>
		<div class="vertical-line"></div>
		<div class="step">
			<h4><%= t(".steps.upload_photos.title") %></h4>
			<p class="step-tip"><%= t(".steps.upload_photos.text") %></p>			
		</div>
	</li>
	<li>
		<div class="vertical-line"></div>
		<div class="step">
			<h4><%= t(".steps.get_visibility.title") %></h4>
			<p class="step-tip"><%= t(".steps.get_visibility.text") %></p>
		</div>
	</li>	
	<li>
		<div class="vertical-line"></div>
		<div class="step">
			<h4><%= t(".steps.more.title") %></h4>
			<p class="step-tip"><%= t(".steps.more.text") %></p>
			<%= link_to "Entre em Contato", "#", 
				id:"welcome-contact-us-link2",target:'welcome-contact-us',
				class:'btn btn-success', style:'float: left;margin: 20px 0 0 44px;' %>
		</div>
	</li>		
</ul>
