<h1 class="title"><%= t(".title") %></h1>
<h4 class="sub-title"><%= t(".sub_title") %></h4>
<ul class="who-list">
	<li>
		<%= image_tag("home/beginner.jpg") %>
		<p class="text"><%= t(".for_beginners") %></p>
	</li>
	<li>
		<%= image_tag("home/professional.jpg") %>
		<p class="text"><%= t(".for_professionals") %></p>
	</li>		
</ul>