<h1 class="title"><%= t(".title") %></h1>
<h4 class="sub-title"><%= t(".sub_title") %></h4>
<div class="people" id="pic-professionals">
	<%= image_tag("home/person1.jpg",class:"person1") %>
	<%= image_tag("home/person2.jpg",class:"person2") %>
	<%= image_tag("home/person3.jpg",class:"person3") %>
	<%= image_tag("home/person4.jpg",class:"person4") %>
	<%= image_tag("home/person5.jpg",class:"person5") %>
</div>

<ul class="text-box" id="professionals-text-box">
	<li>
		<h4><%= t('.features.workshops.title') %></h4>
		<p><%= t('.features.workshops.details') %></p>
	</li>
	<li>
		<h4><%= t('.features.coach.title').html_safe %></h4>
		<p><%= t('.features.coach.details') %></p>
	</li>
	<li>
		<h4><%= t('.features.technical.title').html_safe %></h4>
		<p><%= t('.features.technical.details') %></p>
	</li>
</ul>