<h1 class="title">JÁ É UM PROFISSIONAL? </h1>
<h4 class="sub-title">
	Então você é fundamental para ajudar o canal a se tornar um ambiente de aprendizado. Veja o que você poderá fazer:
</h4>
<div class="people" id="pic-professionals">
	<%= image_tag("home/person1.png",class:"person1") %>
	<%= image_tag("home/person2.png",class:"person2") %>
	<%= image_tag("home/person3.png",class:"person3") %>
	<%= image_tag("home/person4.png",class:"person4") %>
	<%= image_tag("home/person5.png",class:"person5") %>
</div>

<ul class="text-box" id="professionals-text-box">
	<li>
		<h4>Gerenciar Workshops</h4>
		<p>
			Se você ministra workshops, poderá ter acesso a uma ferramenta que irá lhe ajudar na divulgação do workshop,  gerenciar matrículas, disponibilizar materiais, criar desafios, avaliar alunos, sortear brindes e muito mais... 
		</p>
	</li>
	<li>
		<h4>Ser um Coach</h4>
		<p>
			Sendo um Coach (Técnico) no Pic2Gether, você ajudará na formação de bons fotografos e ainda será remunerado por isto.
		</p>
	</li>	
	<li>
		<h4>Ser um Técnico do Pc2Gether</h4>
		<p>
			Um técnico do Pic2Gether, tem visibilidade, privilégios e poderes importantes na avalição das fotografias postadas no nosso portal.
		</p>
	</li>		
</ul>