<h1 class="title"><%= t(".title") %></h1>
<div class="account-page">
<div class="form-box account-form-box" id="sign-up-box">
	<%= form_for(:user, :url => registration_path(:user), html:{class:"sign-up-form"}) do |f| %>
		<div class="field">
			<%= f.text_field :full_name, 
												placeholder: t('.full_name_field'),
												id:"user-full-name" %>
		</div>

		<div class="field">
			<%= f.text_field :user_name, 
											 autofocus: true, 
											 placeholder: t('.user_name'),
											 id:'user-name-input' %>
			<p class="user-name-info" id="user-name-available"></p> 
		</div>

		<div class="field">
			<%= f.email_field :email, 
												placeholder: t('.email') %>
		</div>

		<div class="field">
			<%= f.password_field :password, 
												autocomplete: "off", 
												placeholder: t('.password') %>
		</div>
		<div>
			<%= f.submit t('.submit'), class:"btn btn-submit" %>
		</div>
	<% end %>
	<div class="account-buttons social-network-buttons">
		<label class="social-network-account-label">
			<%= t('home.account.social_network_account') %>
		</label>
		<%= link_to t('home.welcome.authentication.facebook'),
								user_facebook_omniauth_authorize_path,
								class:'sign-up-button facebook'%>
		<%= link_to t('home.welcome.authentication.twitter'),
								user_twitter_omniauth_authorize_path,
								class:'sign-up-button twitter'%>
		<%= link_to t('home.welcome.authentication.google'),
										user_google_oauth2_omniauth_authorize_path,
										class:'sign-up-button google_oauth2' %>								
	</div>
</div>
</div>
