<h1 class="title"><%= t(".title") %></h1>
<h4 class="sub-title"><%= t(".sub_title") %></h4>

<div class="workshops" id="screen-workshop">
	<div class="description-left">
		<h4><%= t('.features.functionality1.title') %></h4>
		<p><%= t('.features.functionality1.details') %></p>
	</div>
	<div>
		<%= image_tag("home/workshops/workshop.png", class: "align-img-right") %>
	</div>
	<div>
		<%= image_tag("home/workshops/workshop.png", class: "align-img-left") %>
	</div>
	<div class="description-right">
		<h4><%= t('.features.functionality2.title') %></h4>
		<p><%= t('.features.functionality2.details') %></p>
	</div>
		<div>
		<%= image_tag("home/workshops/workshop.png", class: "align-img-right") %>
	</div>
	<div class="description-left">
		<h4><%= t('.features.functionality1.title') %></h4>
		<p><%= t('.features.functionality1.details') %></p>
	</div>

</div>