<div id="dragandrophandler">
  <%= content_tag :img ,"", id:'image-upload'%>
  <%= f.input :picture, 
              as: :file,
              label: t('user.photos.form.select_file'),
              input_html: {:onchange => "showImagePreview(this)"} %>
</div>
<%= content_tag(:div, class:"panel",style:'width: 92%;') do %>
  <%= content_tag :h5, t('user.photos.form.photo_info'),class:'title' %>
  <div class="panel-content" style="width:45%">
    <%= f.input :title %>
    <%= f.input :description, :input_html => {rows:5} %>
  </div>
  <div class="panel-content" style="width:45%">
    <%= f.input :category_id,
                as: :select,
                collection: @categories.collect{|c|[c.description,c.id]} %>
    <%= f.input :tags %>
  </div>      
<% end %>