<div class="common-photo-upload">
  <div class="photo-container">
    <div id="dragandrophandler">
      <% content_tag :img ,"", id:'sdimage-upload'%>
      <%= content_tag :div, "",class:'image-upload', id:'image-upload' do %> 
        <%= f.input :picture, 
                    as: :file,
                    label: t('user.photos.form.select_file'),
                    input_html: {:onchange => "showImagePreview(this)", 
                    accept:"image/*", class:'btn'} do %>
        <% end %>
        <li id="photo_picture_input" class="file input required" style="top: 90px;">
          <label class="photo-size"><%= t('.limit_photo_size') %></label>
        </li>
      <% end %>

    </div>
  </div>
  <div class="photo-fields-container">
    <%= content_tag(:div, class:"panel",style:'width: 92%') do %>
      <%= content_tag :h5, t('user.photos.form.photo_info'),class:'title' %>
      <div class="panel-content">
        <%= f.input :title %>
        <%= f.input :description, :input_html => {rows:5} %>
      </div>
      <div class="panel-content" style="margin-top: -30px;">
        <%= f.input :category_id,
                    as: :select,
                    collection: @categories.collect{|c|[c.description,c.id]} %>
        <%= f.input :tags %>
      </div>      
    <% end %>
  </div>
</div>