<%= content_for :toolbar_buttons do %>
  <%= link_to t('.cancel_upload'),
              user_photos_path, 
              class:"btn btn-important btn-small btn-right" %>
<% end %>
<div class="centralizer">
  <%= semantic_form_for @photo, url:user_photos_path, :html => {multipart:true} do |f| %>
    <%= render partial:'fields', locals: {f: f} %>
    <div class="actions">
      <%= submit_button f %>
    </div>
  <% end %>
</div>


 
