<%= render partial:"user/menu_profile", locals: {current_menu:'photos'} %>
<%= content_tag :ul, class:'photos-gallery' do %>
  <% @photos.each do |photo| %>
    <li>
    	<%= link_to image_tag(photo.picture.url(:medium)), user_photo_path(photo), 
									class:'photo-picture' %>
			<div class="info">
				<h5><%= photo.title.truncate(30) %></h5>
				<h6><%= photo.category.description.truncate(30) %></h6>
				<span class="views"><%= photo.views %></span>
				<span class="likes"><%= photo.likes.count %></span>
			</div>
    </li>
  <% end %>
<% end %>

