<div id="modal-container" class="modal-view" >
  <div class="photo-container" id="photo-container">
    <%= image_tag(@photo.picture.url(:medium),id:'photo-picture',class:"photo-picture #{@photo.orientation}") %>
  </div>
  <div class="photo-info">
    <div class="content-info">
      <img class="avatar" src="/assets/avatar.jpg" alt="Avatar">
      <%= link_to "Deivisson Bruno", "#",class:'user-name' %>
      <%= content_tag :span, 
            t(".posting_label",category:@photo.category.description,
            created_at:format_date(@photo.created_at,)),
            class:'posting-label' %>
    </div>
    <div class="content-info">
      <%= content_tag :span,
          t(".views_label", count:@photo.views).html_safe, class:"views-label" %>
    </div>          
    <div class="content-info photo-exif">
      <h1><%= @photo.exif.model %></h1>
      <h4><%= @photo.exif.lens %></h4>
      <%= content_tag :ul do %>
        <li>
          <%= content_tag :span, "", class:"aperture" %>
          <%=content_tag :label,"f/#{@photo.exif.aperture}"  %>
        </li>
        <li>
          <%= content_tag :span, "", class:"focal-lenght" %>
          <%=content_tag :label,@photo.exif.focal_lenght  %>
        </li>
        <li>
          <%= content_tag :span, "", class:"shutter-speed" %>
          <%=content_tag :label,@photo.exif.shutter_speed  %>
        </li>
        <li>
          <%= content_tag :span, "", class:"iso" %>
          <%=content_tag :label,@photo.exif.iso  %>
        </li>
      <% end %>
    </div>      
  </div>
</div>  