<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= t('labels.notifications') %></title>
  <style type="text/css">
  table.content-box {
    border: 0px solid #C4C4C4; width: 600px;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
  }
  body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
</head>
<body>
  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table id="main" border="0" cellpadding="0" cellspacing="20" class="content-box" width="700px">
        <tr>
          <td id="header" colspan="2">
            <div style="background-color: #000; width: 120px; padding: 5px 10px 5px 10px; border-radius: 5px; 
                        -moz-border-radius: 5px; -webkit-border-radius: 5px;float: left;">
              <a href="http://pic2gether.com/">
                <img src="https://pic2gether.com/assets/shared/logo_black-8d804f2f085dfd6a0852ee0657cf37eb.png" width="123" height="46" alt="Pic2Gether">
              </a>
            </div>
            <h1 style="color: #4D8DC4; float: left;font-size: 34px;font-weight: normal; margin: 16px 0 0 20px; width: auto;">
              <%= t('.title') %>
            </h1>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#c4c4c4" height="1"></td>
        </tr>
        <tr class="episode">
          <td valign="top">
            <h2 style="color:#544F4F;font-weight:normal">
               <%= t('.message')%><strong style="font-weight:bold"><u><%= @level.description %></u></strong>
            </h2>
            <p style="font-size:14px"><%= @level.info %></p>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#c4c4c4" height="1"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center">
            <p style="color:#777;font-size:14px">
            	&copy;<%= "#{Time.now.year} - #{t('labels.pic2gether_team')}" %>
            </p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>
