<div id="photographer-show-modal-container">
	<%= link_to "", "#",class:"close-button",id:"modal-close-button" %>
	<div class="photographer-profile-modal-container">
		<div class="cover-photo" 
				 style="background-image: url(<%= @user.profile.cover_url(:large) %>)"
				 owner="<%= @user.profile.user_name %>">
		</div>
		<div class="profile">
			<div class="avatar-container">
				<%= image_tag(@user.profile.avatar.url(:medium)) %>
			</div>
			<%= content_tag :h1, @user.profile.full_name,class:"user-name" %>
			<%= content_tag :h3, class:"score" do %>
				<%= t('shared.photographers.profile.score',level:@user.level.number,position:@user.level.description) %>
			<% end %>
			
			<!--Menu -->
			<%= content_tag :ul, class:"resume" do %>
				<li>
					<label><%= t("user.user_resume.photos") %></label>
					<span><%= @user.photos_count %></span>
				</li>
				<li>
					<label><%= t("user.user_resume.following") %></label>
					<span><%= @user.following_count %></span>
				</li>
				<li>
					<label><%= t("user.user_resume.followers") %></label>
					<span id="photographer-followers-count"><%= @user.followers_count %></span>
				</li>
			<% end %>

			<!-- Buttons -->
			<%= content_tag :ul, class:"links" do %>
				<%= content_tag :li, id:"follow-links-modal-profile-#{@user.id}" do %>
					<%= render partial:'follow_links', locals: {user:@user} %>
				<% end %>
				<li>
					<%= link_to "Perfil Completo", 
											user_photographer_path(@user.id),
											class:'common-button'%>
				</li>
			<% end %>			
		</div>

		<div class="photographers-photo-gallary">
			<%= photo_gallery :photos_explore, false, false %>
		</div>
	</div>
</div>