<!DOCTYPE html>
<html>
<head>
  <title>Pic2Gether</title>
  <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'user', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "/user/shared/toolbar" %>
	<div class="left-col"><%= yield :left_col_container %></div>
	<div class="main-content-area" style="right:280px;"><%= yield %></div>
	<div class="social-network-box">
		<div id='fb-root'></div>
	</div>
	<div class="right-col"><%= yield :right_col_container %></div>
</body>
</html>