<!DOCTYPE html>
<html>
<head>
  <title>Pic2Gether</title>
  <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'user', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= tinymce_assets %>
</head>
<body>
	<%= render "user/shared/toolbar" %>
	<div class="main-content-area" style="left:10%;right:5%;">
		<%= yield %>
	</div>
  <div class="social-network-box">
    <div id='fb-root'></div>
  </div>
</body>
</html>
