<h1 class="workshop-promotions-title">
	Alguns motivos para você utilizar o Pic2Gether
</h1>
<h4 class="workshop-promotions-sub-title">
	Gerencie workshops, cursos, mentoring sem complicações. Com o Pic2Gether você se preocupa com as aulas práticas e nós gerenciamos tudo pra você.
</h4>
<%= content_tag :div, 
							style:"background-image:url(#{image_url('home/promotions/workshops/avaliation.png')})", 
							class:'workshop-image' do %>
<% end %>

<div class="workshop-promotions-share">
  <%= link_to "#", onclick:"FacebookShare(undefined,'Gerencie workshops, cursos, mentoring na área de fotografia sem complicações. Com o Pic2Gether você se preocupa com as aulas práticas e nós gerenciamos tudo pra você.'" do %>
    <span class="social-network-icon-24 facebook"></span>  
  <% end %>
  <%= twitter_link_to_share("", "Gerencie workshops, cursos, mentoring sem complicações.#{workshops_home_promotions_url}") do %>
    <span class="social-network-icon-24 twitter"></span>  
  <% end %>
  <%= google_plus_link_to_share("",workshops_home_promotions_url) do %>
    <span class="social-network-icon-24 googleplus"></span>  
  <% end %>
</div>
<div class="workshop-promotions">
	<ul>
		<li>
			<div class="image-container">
				<%= image_tag("home/promotions/workshops/participants.png",style:"margin: 20px 0 0 10px;") %>
			</div>
			<div class="text-box">
				<h1>
					Imagine gerenciar matriculas de seus alunos, tudo online.
				</h1>
				<p>
					Com o Pic2Gether você poderá configurar o seu workshop, gerenciar matrículas, fila de espera e muito mais.
				</p>
			</div>
		</li>
		<li class="float-rigth">
			<div class="image-container">
				<%= image_tag("home/promotions/workshops/materials.png",style:"margin: 20px 0 0 10px;") %>
			</div>
			<div class="text-box">
				<h1>
					Disponiblize materiais para seus alunos.
				</h1>
				<p>
					Faça upload dos materiais do curso(apostilas, tutoriais e etc...), seu aluno é imediatamente notificado, e ele mesmo poderá baixar aonde e quanto quiser.
				</p>
			</div>
		</li>
		<li>
			<div class="image-container">
				<%= image_tag("home/promotions/workshops/activities.png",style:"margin: 20px 0 0 10px;") %>
			</div>
			<div class="text-box">
				<h1>
					Acompanhe o desempenho e evolução.
				</h1>
				<p>
					Através da plataforma, você poderá disponiblizar atividades, definir uma data limite para entrega. Tanto você quanto o seu aluno serão notificados a cada nova interação.
				</p>
			</div>
		</li>		
		<li  class="float-rigth">
			<div class="image-container">
				<%= image_tag("home/promotions/workshops/criteria.png",
											style:"height: 400px;margin: 0 0 0 10px;") %>
			</div>
			<div class="text-box">
				<h1>
					Avalie as atividades.
				</h1>
				<p>
					A cada nova atividade realizada pelo aluno, você será notificado e poderá avaliar a foto postada dando notas para os critérios essenciais que definem técnicamente uma boa fotografia, além de deixar comentários.
				</p>
			</div>
		</li>
	</ul>

</div>

<%= link_to "Cadastre-se Agora mesmo !!",
						new_user_registration_path,
						class:'btn btn-success btn-bigger',
						style:'margin-left: 300px; width: 500px;text-align:center' %>