<h1 class="workshop-promotions-title">
	Gerenciamento de Workshops sem complicação
</h1>
<%= image_tag("home/promotions/workshops/avaliation.png",class:'workshop-avaliations') %>

<div class="workshop-promotions">
	<ul>
		<li>
			<div class="image-container">
				<%= image_tag("home/promotions/workshops/participants.png",style:"margin: 20px 0 0 10px;") %>
			</div>
			<div class="text-box">
				<h1>
					Imagine gerenciar matriculas de seus alunos, tudo online.
				</h1>
				<p>
					Com o Pic2Gether você poderá configurar o seu workshop, gerenciar matrículas, fila de espera e muito mais.
				</p>
			</div>
		</li>
		<li class="float-rigth">
			<div class="image-container">
				<%= image_tag("home/promotions/workshops/materials.png",style:"margin: 20px 0 0 10px;") %>
			</div>
			<div class="text-box">
				<h1>
					Disponiblize materiais para seus alunos.
				</h1>
				<p>
					Faça upload dos materiais do curso(apostilas, tutoriais e etc...), seu aluno é imediatamente notificado, e ele mesmo poderá baixar aonde e quanto quiser.
				</p>
			</div>
		</li>
		<li>
			<div class="image-container">
				<%= image_tag("home/promotions/workshops/activities.png",style:"margin: 20px 0 0 10px;") %>
			</div>
			<div class="text-box">
				<h1>
					Acompanhe o desempenho e evolução.
				</h1>
				<p>
					Através da plataforma, você poderá disponiblizar atividades, definir uma data limite para entrega. Tanto você quanto o seu aluno serão notificados a cada nova interação.
				</p>
			</div>
		</li>		
		<li  class="float-rigth">
			<div class="image-container">
				<%= image_tag("home/promotions/workshops/criteria.png",
											style:"height: 400px;margin: 0 0 0 10px;") %>
			</div>
			<div class="text-box">
				<h1>
					Avalie as atividades.
				</h1>
				<p>
					A cada nova atividade realizada pelo aluno, você será notificado e poderá avaliar a foto postada dando notas para os critérios essenciais que definem técnicamente uma boa fotografia, além de deixar comentários.
				</p>
			</div>
		</li>
	</ul>

</div>