<%= semantic_form_for [:user,@workshop,@workshop_material], 
										:html => {multipart:true}, remote:true do |f| %>
  <%= f.inputs do %>
    <%= f.input :description,
    						:input_html => {id:'material-description'},
    						:hint 			=> t('.material_description_hint') %>
    <%= f.input :attachment,
                :hint       => t('.attachment_hint'),
                input_html: {accept:'image/*,application/zip,application/pdf,application/msword, application/vnd.ms-office, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,text/plain' } %>
  <% end %>
  <br>
  <br>
  <div class="actions" style="margin-left:-10px">
    <%= submit_button f %>
  </div>
<% end %>
