<!DOCTYPE html>
<html>
<head>
  <title>Pic2Gether</title>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="overflow:auto">
	<div class="welcome-header" id="welcome-header">
		<div class="logo-container">
			<%= link_to image_tag("shared/logo_black.png"), root_path %>
		</div>
		<div class="flash_container">
			<%- flash.each do |name, msg| %>
		    <%= content_tag :div, msg, :id => "flash_#{name}" %>
		  <%- end %>
		</div>
		<div class="account-buttons">
			<%= link_to t('home.welcome.menu.login'), new_user_session_path %>
			<%= link_to t('home.welcome.menu.sign_up').html_safe,"#",class:'sign-up',
									 id:"sign-up-link",target:'welcome-sign-up' %>
		</div>
	</div>
	<div class="terms-conditions-page">
		<div class="terms-conditions">
			<%= yield %>
		</div>
	</div>
</body>
</html>
