<!DOCTYPE html>
<html>
<head>
  <title>Photograph</title>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="centralizer">
		<ul class="menu">
			<li class="logo-space"></li>
			<li><%= link_to t('welcome.menu.how_work'),"#",id:'how-work-link' %></li>
			<li><%= link_to t('welcome.menu.jurors'),"#",id:"jurors-link" %></li>
			<li><%= link_to t('welcome.menu.inspirations'),"#" %></li>
			<li><%= link_to t('welcome.menu.contests'),"#" %></li>
			<li class="last">
				<%= link_to t('welcome.menu.login'), new_user_session_path,class:'login' %>
			</li>
		</ul>
	</div>
	<div class="welcome-cover" id="welcome-cover" style="background-image:url(<%='/assets/cover.jpg'%>)"></div>
	<div class="welcome-cover-mask" id="welcome-cover-mask">
		<div class="centralizer">
			<div class="welcome-content" id="welcome-content">
					<h1><%=t('welcome.texts.header') %></h1>
					<h2><%=t('welcome.texts.sub_header') %></h2>
					<%= link_to t('welcome.authentication.facebook_sign_up'),"#",class:'sign-up-button facebook'%>
					<%= link_to t('welcome.authentication.twitter_sign_up'),"#",class:'sign-up-button twitter'%>
					<%= link_to t('welcome.authentication.sign_up_email'),
											new_user_registration_path,class:'sign_up_email' %>
			</div>
		</div>
	</div>
	
	<div class="how_work" id="welcome-how-work">
		<div class="centralizer">
			<%= yield :how_work %>
		</div>
	</div>
	<div class="jurors" id="welcome-jurors">
		<div class="centralizer">
			<%= yield :jurors %>
		</div>
	</div>
<%= yield %>

</body>
</html>
