<!DOCTYPE html>
<html>
<head>
  <title>Photograph</title>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="welcome-header" id="welcome-header">
		<div class="logo-container">
			Pic<span>2Gether</span>
		</div>
		<div class="centralizer">
			<ul class="menu" id="menu-home" >
				<li class="logo-space"></li>
				<li>
					<%= link_to t('welcome.menu.cover'),"#",id:'top-link', class:'selected' %>
				</li>				
				<li>
					<%= link_to t('welcome.menu.how_work'),"#",id:'how-work-link',target:'welcome-how-work' %>
				</li>
				<li>
					<%= link_to t('welcome.menu.for_who'),"#",id:'made-for-who-link',target:'welcome-made-for-who' %>
				</li>
				<li>
					<%= link_to t('welcome.menu.professionals'),"#",
								id:"professionals-link",target:'welcome-professionals' %>
				</li>
			</ul>
		</div>
		
		<div class="account-buttons">
			<%= link_to t('welcome.menu.login'), new_user_session_path %>
			<%= link_to t('welcome.menu.sign_up').html_safe,"#",class:'sign-up',
									 id:"sign-up-link",target:'welcome-sign-up' %>
		</div>
		<%# yield :login_form %>
	</div>
	<%= link_to "", "#", class:"back-page", id:'top-link' %>
	<%= content_tag :div, "", class:'welcome-cover', id:'welcome-cover',
									style:"background-image:url(#{@photo_cover.picture.url(:huge)})" do %>
		<div class="welcome-cover-mask" id="welcome-cover-mask">
			<div class="coverby-container">
				<%= image_tag(@photo_cover.user.profile.avatar(:thumb),class:'user-avatar') %>
				<span class="photo-by">Photo by</span>
				<span class="user-name">
					<%= @photo_cover.user.profile.full_name %>
				</span>
			</div>
		</div>
		<div class="centralizer">
			<div class="welcome-content" id="welcome-content">
				<h1><%=t('welcome.texts.header') %></h1>
				<h2><%=t('welcome.texts.sub_header') %></h2>
				<%= link_to t('welcome.authentication.facebook_sign_up'),
										user_omniauth_authorize_path(:facebook),
										class:'sign-up-button facebook'%>
				<%= link_to t('welcome.authentication.twitter_sign_up'),
										user_omniauth_authorize_path(:twitter),
										class:'sign-up-button twitter'%>
				<%= link_to t('welcome.authentication.sign_up_email'),
										"",class:'sign_up_email',id:"sign-up-link",target:'welcome-sign-up' %>
			</div>
		</div>
	<% end %>
	
	<div class="how_work" id="welcome-how-work">
		<div class="centralizer"><%= render 'how_work' %></div>
		<div class="bg"></div>
	</div>
	<div class="made-for-who" id="welcome-made-for-who">
		<div class="centralizer"><%= render 'made_for_who' %></div>
		<!-- <div class="bg"></div> -->
	</div>
	<div class="professionals" id="welcome-professionals">
		<div class="centralizer"><%= render 'professionals' %></div>
	</div>
	<div class="sign-up-container" id="welcome-sign-up">
		<div class="centralizer"><%= render 'sign_up' %></div>
		<div class="bg"></div>
	</div>
	<ul class="about-container">
		<li><%= link_to "Termos", "#" %></li>
		<li><%= link_to "facebook", "#" %></li>
		<li><%= link_to "Sobre", "#" %></li>
	</ul>
	<%= yield %>
	<%= google_analytics_script %>
</body>
</html>
