<h4><%= t('.title') %></h4>
<ul class="workshop-participants show" id="workshop-participants-show">
	<%= content_tag :li, id:"activity-participant-0" do %>
	  <%= link_to t(".all_participants"),
	              user_workshop_activity_path(@workshop,@workshop_activity,responses_user_id:0),class:"user-name", remote:true %>
	<% end %>
	<% @workshop.participants.each do |participant| %>
		<%= content_tag :li, id:"activity-participant-#{@workshop.id}#{participant.id}" do %>
		  <%= link_to user_photographer_path(participant.id),class:"photographer-profile user-avatar-link" do %>
	  		<%= image_tag participant.profile.avatar.url(:thumb),class:'user-avatar' %>
	  	<% end %>
		  <%= link_to participant.profile.user_name,
		              user_workshop_activity_path(@workshop,@workshop_activity,responses_user_id:participant.id),
		              class:"user-name", remote:true %>
		<% end %>
	<% end %>
</ul>