<div class="content-info photo-info">
  <%= content_tag :label,t(".exif"),class:'section-label' %>
  
  <p>
    <strong><%= ta Photo, :camera %></strong>
    <%= response.photo.camera %>
  </p>  
  
  <p>
    <strong><%= ta Photo, :lens %></strong>
    <%= response.photo.lens %>
  </p>

  <p>
    <strong><%= ta Photo, :aperture %></strong>
    <%= response.photo.aperture %>
  </p>
  <p>
    <strong><%= ta Photo, :focal_lenght %></strong>
    <%= response.photo.focal_lenght %>
  </p>
  <p>
    <strong><%= ta Photo, :shutter_speed %></strong>
    <%= response.photo.shutter_speed %>
  </p>
  <p>
    <strong><%= ta Photo, :iso %></strong>
    <%= response.photo.iso %>
  </p>   
  <p>
    <strong>Author</strong>
    <%= response.photo.user.profile.user_name %>
  </p>
  <p>
    <strong>Data Postagem</strong>
    <%= format_date(response.photo.created_at) %>
  </p>
</div>