<div class="rating">
	<% if response.photo.ratings.any? %>
		<%= content_tag :label,t(".rating_photo"),class:'section-label' %>
		<ul>
			<% response.photo.ratings.each do |rating| %>
				<li>
					<div class="score-bar">
						<div class="score <%= rating.criterium.css_class %>" 
								 id="score-comp", style="width: <%= rating.score_perc %>%"> 
							<label><%= rating.criterium.description %></label>
						</div>
						<span class="score-value-label"><%= rating.score %></span>
					</div>
				</li>
			<% end %>
		</ul>
	<% else %>
		<%= link_to "Clique para Avaliar a Foto",
								user_photo_photo_ratings_path(response.photo,response_id:response.id), 
								class:"btn btn-success",id:'photo-rating-button' %>
	<% end %>
</div>