<% if @activity_responses.any? %>
	<div class="activity-response-container">
		<%= render "user/workshop_activities/evaluation/participant_responses" %>
		<%= content_tag :div, id:"response-photo-preview" do %>	
			<%= render partial:"user/workshop_activities/evaluation/response_photo_preview", 
									locals:{response:@activity_responses.first} %>
		<% end%>
	</div>
	<%= content_tag :div, id:"response-photo-details", class:"response-photo-details" do %>
		<%= render partial:"user/workshop_activities/evaluation/response_photo_details", 
									locals:{response:@activity_responses.first} %>
	<% end%>
<% else %>
	<div class="alert"><%= t(".no_activity_responses") %></div>
<% end %>