<!DOCTYPE html>
<html>
<head>
  <title>Photograph</title>
  <%= stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'public', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="show-photographer-full-profile">
	<div class="welcome-header public-header" id="welcome-header">
		<div class="logo-container">
			<%= link_to image_tag("shared/logo_black.png"), root_path %>
		</div>
		<div class="flash_container">
			<%- flash.each do |name, msg| %>
		    <%= content_tag :div, msg, :id => "flash_#{name}" %>
		  <%- end %>
		</div>
	</div>
	<div class="main-content-area">
		<%= yield %>
	</div>
</body>
</html>
