<% content_for :left_col_container do %>
	<div class="float-container">
		<ul class="menu">
			<h1><%= t('.menu_title') %></h1>
			<% PortfolioTemplate.all.each do |template| %>
				<li>
					<%= link_to template.description,
											preview_user_portfolio_templates_path(template:template.id),
											remote:true %>
					<%= content_tag :span, t(".free"),class:'badges success' if template.free? %>
				</li>
			<% end %>
				
			<!-- <li>
				<%= link_to "Verfical Slider", preview_user_portfolio_templates_path(layout:'vertical_slide'),
										remote:true %>
				<span class="badges success"><%= t(".free") %></span>
			</li>
			<li>
				<%= link_to "Galeria Simples", preview_user_portfolio_templates_path(layout:'simple_gallery'),
										remote:true %>
				<span class="badges success"><%= t(".free") %></span>
			</li>	 -->		
		</ul>
	</div>
<% end %>