<ul class="toolbar">
	<%= render "/user/shared/default_menu_header" %>
	<%= yield :toolbar %>

	<%= content_tag :li, class:'page-title'  do %>
  	<%= yield(:title) %>
	<% end if show_title? %>

	<%= content_tag :li, class:'user-info'  do %>
		<%= link_to_notification(current_user.unread_notifications_count) do %>
			<%= content_tag :span,class:'notification-bubble-count', id:'notification-bubble-count' do %>
				<%= current_user.unread_notifications_count %>
			<% end if current_user.unread_notifications_count > 0 %>
			<span class="icon20 notification"></span>
		<% end %>
		<%= render "user/notifications/resume_menu" %>

		<%= link_to new_user_photo_path, class:"upload-image", id:'photo-upload-link-header' do %>
			<span class="icon20 upload"></span>
		<% end %>
		<%= image_tag(current_user.profile.avatar.url(:medium),class:'avatar',id:'menu-trigger') %>
		<ul class="dropdown-menu" id="menu-dropdown">
			<span class="up-arrow"></span>
			<li><%= link_to t('user.user_menu.profile'), user_profile_path(0) %></li>
			<li><%= link_to "t('user.user_menu.portfolio')", user_portfolio_templates_path %></li>
			<li><%= link_to t('user.user_menu.workshops'), user_workshops_path %></li>
			<li><%= link_to t('user.user_menu.settings'), "#" %></li>
			<li class="separator"></li>
			<li><%= link_to t('user.user_menu.logoff'), destroy_user_session_path %></li>
		</ul>
	<% end %>
	<%= yield :toolbar_buttons %>
</ul>
<div class="flash_container">
	<%- flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end %>
</div>