<%# content_tag :ul, class:"toolbar #{defined?(show_default) ? 'full-size' : ''}" do%>
<%= content_tag :ul, class:"toolbar" do%>
	<%# render "/user/shared/default_menu_header" if defined?(show_default) %>
	<%= render "/user/shared/default_menu_header" %>
	<li class="icon-responsive-menu">
		<%= link_to "#", id:'show-responsive-menu',class:'show-responsive-menu-link' do %>
			<span class="icon20pb icon-grid-list"></span>
		<% end %>
	</li>
	<%= yield :toolbar %>
	<%= content_tag :li, class:'page-title'  do %>
  	<%= yield(:title) %>
	<% end if show_title? %>

	<%= content_tag :li, class:'user-info'  do %>
		<%= toolbar_message_button %>
		<%= toolbar_notification_button %>
		<%= link_to new_user_photo_path, class:"upload-image", id:'photo-upload-link-header' do %>
			<span class="icon20 upload"></span>
		<% end %>
		<%= avatar_tag(current_user.profile.avatar.url(:medium),
									{class:'user-avatar avatar-rounded',id:'menu-trigger'}) %>
		<ul class="dropdown-menu profile-menu" id="menu-dropdown">
			<span class="up-arrow"></span>
			<li><%= link_to t('user.user_menu.profile'), user_profile_path(0) %></li>
			<li><%= link_to t('user.user_menu.portfolio'), user_portfolio_templates_path %></li>
			<li><%= link_to t('user.user_menu.workshops'), user_workshops_path %></li>
			<!-- <li><% link_to t('user.user_menu.settings'), "#" %></li> -->
			<li><%= link_to t('user.user_menu.my_orders'), user_orders_path %></li>
			<li class="separator"></li>
			<li><%= link_to t('user.user_menu.logoff'), destroy_user_session_path %></li>
		</ul>
	<% end %>
	<%= yield :toolbar_buttons %>
<% end %>
<div class="flash_container">
	<%- flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end %>
</div>