<!DOCTYPE html>
<html>
<head>
  <title>Pic2Gether</title>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="welcome-header" id="welcome-header">
		<div class="logo-container">
			<%= link_to root_path do %>
				<div class="pic2gether-logo"></div>
			<% end %>
		</div>
		<div class="flash_container">
			<%- flash.each do |name, msg| %>
		    <%= content_tag :div, msg, :id => "flash_#{name}" %>
		  <%- end %>
		</div>
	</div>
	<div class="account-page">
		<div class="bg"></div>
		<div class="account-form-box">
			<%= yield %>
		</div>
	</div>
</body>
</html>
